name: build-and-cache
"on":
  push:
    paths-ignore:
      - '.github/workflows/**'
  workflow_dispatch:
jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config: [navi, tui]
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1
        with:
          swap-storage: false
          tool-cache: true
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            accept-flake-config = true
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          authToken: ${{ secrets.CACHIX_TOKEN }}
          extraPullNames: nix-community
          name: lucidph3nx-nixos-config
      - name: Build NixOS config for ${{ matrix.config }}
        run: nix build --print-build-logs '.#nixosConfigurations.${{ matrix.config }}.config.system.build.toplevel'
